:root {
  font-size: 16px;
  --color: #241f31;
  --bg-color: #ffffff;
  --key-color: #ffffff;
  --key-bg-color: #77767b;
  --gap-color: #ddd;
  --link-color: #5e5c64;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #f6f5f4;
    --bg-color: #000000;
    --key-color: #000000;
    --key-bg-color: #deddda;
    --gap-color: #5e5c64;
    --link-color: #77767b;
  }
}

body {
  color: var(--color);
  background-color: var(--bg-color);
  print-color-adjust: exact;
}

@media print {
  * {
    /* Fix for Firefox */
    transition: none !important;
  }
}

body {
  margin: 2px;
  text-align: center;
  padding-bottom: 8em;
  font-size: 13px;
}

/* Keys */
.Keys {
  margin: 0 auto;
  --width: 2.4ex;
  --margin: 4px;
  --keys-count: 13;
  width: calc((var(--width) + var(--margin)) * var(--keys-count) - var(--margin));
}

/* Key */
.Key {
  width: 100%;
  position: relative;
  height: 1.2em;
  border-bottom: var(--gap-color) var(--margin) solid;
  padding: 2px 0;
}
.Key:empty {
  height: 0;
  padding: 0;
}
.Key:first-child {
  border-top: var(--gap-color) var(--margin) solid;
}
.Key-N {
  position: absolute;
  width: var(--width);
  left: calc((var(--width) + var(--margin)) * var(--index));
  line-height: 1.2em;
  text-align: center;
  background-color: var(--key-bg-color);
  color: var(--key-color);
  border-radius: 2px;
}

/* Link */
.Link, .Link:active, .Link:hover, .Link:visited {
  color: var(--link-color);
}

/* Form */
.Form {
  max-width: 25rem;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: max-content 3fr;
  gap: 1rem 0.5rem;
}
.Form-Label {
  text-align: right;
}
.Form-Field {
  color: var(--color);
  background-color: var(--bg-color);
  border: 1px solid currentColor;
  border-radius: 0.25rem;
}
.Form-Field_textarea {
  resize: vertical;
}
.Form-Submit {
  grid-column: 2;
  justify-content: left;
}
